body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Georgia, serif,"Gill Sans", sans-serif,
  sans-serif,serif,cursive,system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin:1rem;
  text-align: center;
}
